<!DOCTYPE html>
<!--[if lt IE 9 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />

        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=<%= htmlWebpackPlugin.options.viewportWidth %>, initial-scale=1">

        <!-- Prevent mobile Safari from making phone numbers -->
        <meta name="format-detection" content="telephone=no">

        <% if (!htmlWebpackPlugin.options.dynamicMetaTags) { %>
            <title>xkid - <%= htmlWebpackPlugin.options.title %></title>

            <!-- Search & Open Graph-->
            <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
            <!-- <meta name="google-site-verification" content="m_3TAXDreGTFyoYnEmU9mcKB4Xtw5mw6yRkuJtXRKxM" /> -->

            <meta property="og:url" content="https://www.xkidcode.com/" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="xkid - <%= htmlWebpackPlugin.options.title %>" />
            <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
            <meta property="og:image" content="<%- htmlWebpackPlugin.options.og_image %>" />
            <meta property="og:image:type" content="<%- htmlWebpackPlugin.options.og_image_type %>" />
            <meta property="og:image:width" content="<%- htmlWebpackPlugin.options.og_image_width %>" />
            <meta property="og:image:height" content="<%- htmlWebpackPlugin.options.og_image_height %>" />
        <% } %>

        <!-- Favicon & CSS normalize -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/lib/normalize.min.css" />

        <!-- Polyfills -->
        <script src="/js/polyfill.min.js"></script>


    </head>

    <body>
        <div id="app"></div>

        <!-- Vendor & Initialize (Session & Localization)-->
        <script src="/<%= htmlWebpackPlugin.files.chunks.common.entry %>"></script>

        <!-- Scripts -->
        <script src="/js/<%= htmlWebpackPlugin.options.route.name %>.intl.js"></script>
        <script src="/<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.route.name].entry %>"></script>

        <!-- Translate title element -->
        <% if (!htmlWebpackPlugin.options.dynamicMetaTags) { %>
            <script>
                var loc = window._locale || 'zh-cn';
                if (typeof window._messages !== 'undefined' && loc !== 'en') {
                    if (typeof window._messages[loc] === 'undefined') {
                        loc = loc.split('-')[0];
                    }
                    if (typeof window._messages[loc] !== 'undefined') {
                        var localizedTitle = window._messages[loc]['general.' + '<%= htmlWebpackPlugin.options.title %>'.toLowerCase()] || '';
                        if (localizedTitle.length > 0) {
                            document.title = 'xkid - ' + localizedTitle;
                        }
                    }
                }
            </script>
        <% } %>
    </body>
</html>
